.contentAboutMe {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    gap: 3rem;
    position: relative;
    z-index: 4;
    margin-bottom: 4rem;
}

.left {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    max-width: 550px;

    span {
        width: 100% !important;
        //outline: solid .5rem var(--secondary-color);
        //border: solid .5rem var(--secondary-color) !important;
        z-index: 0;
    }

}

.right {

    flex: 1;

    h1 {
        font-weight: 600;
        font-size: 3.5rem;
        line-height: 100%;
        color: #fff;
    }

    p {
        color: #fff;
        opacity: 60%;
        font-weight: 300;
        font-size: 1rem;
        line-height: 2rem;
        margin-bottom: 1rem;
    }
}

.contentAnimationAboutMe {
    position: absolute;
    width: calc(100% + 2rem);
    height: calc(100% + 2rem);
    z-index: -1;
    left: -1rem;
    top: -1rem;

}


@media (min-width: 320px) {
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
}

@media (min-width: 480px) {
    /* smartphones, Android phones, landscape iPhone */
}

@media (min-width: 600px) {
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}

@media (min-width: 801px) {

    /* tablet, landscape iPad, lo-res laptops ands desktops */

}

@media (min-width: 1025px) {

    /* big landscape tablets, laptops, and desktops */
    .contentAboutMe {
        flex-direction: row;
    }
}

@media (min-width: 1281px) {
    /* hi-res laptops and desktops */
}

@media (min-width: 1440px) {
    /* big landscape tablets, laptops, and desktops */
}