/* ===== Scrollbar CSS ===== */
/* Firefox */
#movableScroll {
  scrollbar-width: auto;
  scrollbar-color: #444 #28292e;
}

/* Chrome, Edge, and Safari */
#movableScroll::-webkit-scrollbar {
  width: 20px;
  position: fixed;
  bottom: 0px;
}

#movableScroll::-webkit-scrollbar-track {
  background: #28292e;
  position: fixed;
  bottom: 0px;
}

#movableScroll::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 2px;
  border: 3px none var(--bg-color);
  position: fixed;
  bottom: 0px;
}